@font-face {
  font-family: lobster_two;
  src: url("../assests/fonts/Lobster_Two/LobsterTwo-Bold.ttf");
}
@font-face {
  font-family: saira;
  src: url("../assests/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
@font-face {
  font-family: anton;
  src: url("../assests/fonts/Anton/Anton-Regular.ttf");
}
$redColor: #990b0b;
