@import "../../util/Styles.scss";

.Header {
  font-family: saira;
  padding-top: 21px;
  color: black;
  @include hover_line;
  header {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    a {
      text-decoration: none;
      color: black;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
  .alma-warp {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  h1 {
    border-bottom: 2px solid #a738f0;
    padding-bottom: 3px;
    font-family: anton;
    font-size: 36px;
    z-index: 1;
    text-align: left;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  p {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
  }
  .navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
}
