@import "../../util/Styles.scss";

.Header {
  font-family: saira;
  padding-top: 28px;
  color: black;
  header {
    align-items: stretch;
    box-sizing: border-box;
    // padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;

    // color: black;
    // a,
    // p,
    // h1 {
    //   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.62);
    // }
    a {
      text-decoration: none;
      color: black;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
  .alma-warp {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  h1 {
    border-bottom: 2px solid #a738f0;
    padding-bottom: 3px;
    // text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.62);
    font-family: anton;
    font-size: 36px;
    // color: white;
    z-index: 1;
    text-align: left;
    line-height: 1;
    // padding-left: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  p {
    // color: white;
    font-size: 12px;
    text-transform: uppercase;
    /* margin-top: 5px; */
    text-align: left;
    // padding-right: 5px;
  }
  .navbar {
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: center;
    // border-bottom: 1px solid #990b0b;
  }
}
