@import "../../util/Styles.scss";

.Header {
  font-family: saira;
  header {
    height: 60px;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #990b0b;
    width: 82%;
    margin: auto;
    color: black;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    button {
      font-family: saira;
      background: transparent;
      border: 1px solid #990b0b;
      padding: 8px 10px;
      border-radius: 50%;
      transition: all 0.5s ease;
      &:hover {
        background: #ff9d9d21;
      }
    }
  }
}
